@charset "utf-8";

/* ------------------------ CONFIGURAÇÕES GERAIS ---------------------- */
html, body {
    height: 100%; /* Garante que a página ocupe 100% da altura */
    margin: 0;
}

/* ------------------------ FUNDO E CENTRALIZAÇÃO ---------------------- */
.fundofixo {
    /* Imagem de Fundo */
    background: url(../imagens/fundosite.jpg) no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;

} 

/* ------------------------ ESTILO DO FORMULÁRIO (CARD) ---------------- */
/* Aumenta o espaço interno e melhora o visual do quadrado verde */
.alert-success {
    padding: 30px;
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Sombra suave */
    border: none; /* Remove borda padrão se houver */
}

/* Espaçamento entre os campos (Substituto do mb-3) */
.form-group {
    margin-bottom: 20px;
}

/* Espaço acima do botão */
.btn-block {
    margin-top: 10px;
}
 /* Estilo extra para os subtítulos ficarem bonitos */
 .secao-titulo {
    color: #3c763d;
    /* Um verde escuro para combinar */
    border-bottom: 1px solid #d6e9c6;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}

/* ------------------------ NAVBAR ---------------------- */
.navegacao{
    background-color: rgba(255, 255, 255, 0.63); 
}
.navegacao a {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.navegacao a:hover {
    color: #179b12 !important;
}
.navegacao .navbar-brand img {
    height: 58px; 
    width: auto; /* mantém proporção */
    margin-left: 60px;
}
.navegacao .navbar-brand {
    display: flex;
    align-items: center; /* centraliza vertical */
}

/* -------------------- LISTAS -------------------------- */
/* Opacidade das listas */
.tbopacidade {
    background-color: #ffffffda;
}

.fontelista {
    font-family: 'inter', sans-serif;
    font-size: 15px;
}
/* -------------------- Area Administrativa -------------------------- */
.tituloadm{
    background-color: rgba(255, 255, 255, 0.63);
}
.doacoes-card {
    background-color: #dff0d8;  /* mesmo verde do Bootstrap */
    border: none;               /* sem borda externa */
}

.imagem {
    background-color: gray;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corfundo {
    background-color: #d6e9c6;
}